.banner {
  display: flex;
  flex-direction: column;
}

.banner-content {
  background: linear-gradient(
    101.12deg,
    rgb(57, 34, 57) 27.35%,
    rgb(57, 34, 57) 59.99%,
    hsl(0deg 39% 30%) 100%
  );
  width: 90%;
  height: 250px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.banner-content img {
  width: 20%;
}

.banner-box h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: bolder;
}

.banner-box p {
  font-size: 1.3rem;
  padding-top: -2rem;
}

.banner-box-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 0.8rem;
  margin-left: 4rem;
}

@media screen and (max-width: 950px) {
  .banner-box h1 {
    font-size: 1.6rem;
  }

  .banner-box p {
    font-size: 1rem;
    padding-top: -2rem;
  }

  .banner-box-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.8rem;
  }
}

@media screen and (max-width: 650px) {
  .banner-content {
    width: 90%;
  }
  .banner-content img {
    display: none;
  }
  .banner-box h1 {
    font-size: 1.6rem;
  }
  .banner-box p {
    font-size: 1rem;
    padding-top: -2rem;
  }
}

@media screen and (max-width: 430px) {
  .banner-content {
    width: 95%;
  }
  .banner-box h1 {
    font-size: 1.4rem;
  }
  .banner-box p {
    font-size: 0.85rem;
    padding-top: -2rem;
  }
}
