a {
  text-decoration: none;
}

.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
}
.listing-title h1 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 1rem;
  padding-top: 100px;
}
.item-container-card {
  padding-top: 45px;
}
.item-container-card:after {
  content: "";
  display: table;
  clear: both;
}
.card-column {
  float: left;
  width: 20%;
}
.item-card {
  background: #2a2d3a;
  border-radius: 20px;
  padding: 11px 12px 14px 11px;
  margin-inline: 10px;
  margin-bottom: 20px;
}
.item-card img {
  border-radius: 20px;
  width: 100%;
}
.item-card-top p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 15px;
}
.item-card-bottom {
  display: flex;
  justify-content: space-between;
}
.item-card-bottom p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.item-card-bottom p:last-child {
  font-weight: normal;
}
.item-card-bottom span {
  font-weight: normal;
}
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.load-more button {
  background: transparent;
  border: 1px solid #e32970;
  margin: 0 1rem;
  color: #e32970;
  border-radius: 10px;
  padding: 10px 100px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.load-more a {
  text-decoration: none;
  color: #e32970;
}

@media screen and (max-width: 1440px) {
  .card-column {
    width: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .card-column {
    width: 33.33%;
  }
}

@media screen and (max-width: 900px) {
  .card-column {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 1rem 6px;
  }
  .listing-container {
    width: 100%;
  }
  .item-container-card {
    width: 100%;
  }
  .item-card {
    margin-bottom: 10px;
    margin-inline: 5px;
  }
  .item-card-top p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
  }
  .item-card-bottom p {
    font-size: 10px;
    line-height: 15px;
  }
}
