.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.paginate button {
  background: transparent;
  border: 1px solid #e32970;
  color: white;
  border-radius: 10px;
  font-family: Poppins;
}
