.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  margin-bottom: 40px;
}

.search-form-formGroup {
  width: 500px;
  background: #2d2e36;
  border-radius: 2rem;
  border: 1px solid #e32970;
  padding-right: 10px;
}

.search-form-formGroup input {
  background: #2d2e36;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  outline: none;
  border: 1px;
  color: white;
  font-size: 16px;
  line-height: 26px;
  width: 85%;
}
.search-form-icons {
  font-size: 3rem;
  padding-left: 20px;
  cursor: pointer;
  color: #e32970;
}

.writeForm button {
  background: #e32970;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.filter-btn {
  background: transparent;
  border: 1px solid #e32970;
  padding: 1rem 1rem;
  border-radius: 2rem;
  margin-left: 10px;
  color: #e32970;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.filter-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.price-input {
  margin-bottom: 30px;
}

.price-input label {
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
}

.price-range {
  padding-left: 20px;
}
.price-range span {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  margin-right: 12px;
}

.price-range input {
  background: #2d2e36;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 16px;
  width: 100px;
  margin: 0 20px 0 20px;
}

.filter-input label {
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 10px;
}

.filter-input input {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.filter-input select {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.dark-modal .modal-content {
  background-color: #151c25;
  color: white;
}
.modal-content .button {
  background: #e32970;
}

@media screen and (max-width: 687px) {
  .search-form-formGroup input {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {
  .search-form {
    width: 100%;
  }
  .search-form-formGroup input {
    width: 75%;
  }
  .filter-btn {
    padding: 0.6rem 1rem;
  }
  .filter-btn span {
    display: none;
  }
  .price-range {
    padding-left: 0px;
  }
  .price-range span {
    margin-right: 10px;
  }
  .price-range input {
    background: #2d2e36;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 16px;
    width: 70px;
    margin: 0 10px 0 10px;
  }
}
