.auction-bid-info {
  width: 480px;
  color: white;
}

.auction-timer-box {
  border: 3px solid #fff;
  margin-block: 1.6rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  width: 100px;
}

.auction-timer-box small {
  background-color: green;
  padding: 0.7rem 1.4rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.auction-timer-box p {
  padding-top: 1rem;
}

.auction-timer-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.auction-timer-icon {
  font-size: 2rem;
}

.auction-timer {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  text-align: center;
  padding: 0.8rem 0rem 1.5rem 0;
}

.auction-timer-item p {
  font-size: 2rem;
  font-weight: 900;
  line-height: 0;
}

.auction-content-buy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auction-content-buy button {
  background: linear-gradient(
    101.12deg,
    #1f3a5c 27.35%,
    #e32970 99.99%,
    #e32970 100%,
    #e32970 100%
  );
  border-radius: 10px;
  border: none;
  padding: 0.75rem 3rem;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 490px) {
  .item {
    width: 100%;
  }
  .auction-bid-info {
    width: 100%;
  }
}
