.create {
  display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.create-container {
  width: 500px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.create-container h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 40px;
  margin-top: 80px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.formGroup label {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}
.formGroup input {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
}

.formGroup textarea {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}
.formGroup select {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  text-overflow: ellipsis;
}

.mint-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mint-btn button {
  float: right;
  background: #e32970;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

@media screen and (max-width: 550px) {
  .create {
    padding: 4rem 1.5rem !important;
  }
  .create-container h1 {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}
