.sale-price-box {
  line-height: 0;
  margin-top: 30px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}

.sale_price {
  border: 2px solid #e32970;
  border-radius: 0.5rem;
}

.sale_price p {
  padding: 50px 30px 20px 30px;
  font-size: 1.5rem;
  font-weight: 900;
}

.sale_price small {
  font-size: 1.2rem;
  background-color: #e32970;
  color: var(--main-bg-color);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
}

.token_row {
  padding: 5px 10px;
}

.token_img {
  height: 30px;
}

.token_text {
  padding: 10px;
}

@media (max-width: 867px) {
  #window {
    width: 350px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 650px) {
  .item {
    padding: 10px;
  }
  .sale_price p {
    padding: 30px 20px 20px 20px;
    font-size: 1.2rem;
    font-weight: 800;
  }
}
